<html lang="zh-CN">
<head>

</head>
<body>
<div id="main">
	<p id = "anchor" onclick="socket.emit('my event',{})"> hi </p>
    <p>msg:</p>
    <p id = "pp">xxx</p>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
    var socket = io.connect('/chat');
        socket.on('connect', function() {
			        	socket.emit('my event', {data: 'I\'m connected!'});
				    });

                    socket.on('my response',function(msg) {
                        $("#pp").html(msg);
                        } );
</script>


</body>
</html>
